!!!
%html
  %head
    %meta{'http-equiv' => "refresh", :content => "300"}
    %link{:rel=>"stylesheet", :href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %link{:rel=>"stylesheet", :href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"}
    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}

  %body
    %h1 Classroom continuous integration
    %form{action:"/projects", method:"post"}
      %input{placeholder:"your git URL", name:"url"}
        %button#send Ajouter mon projet
    %table.table.table-striped
      %tr
        %th URL
        %th Points
        %th Vert
        %th Rouge
        %th Last
      -@projects.each do |project| 
        %tr 
          %td=project.url
          %td=project.points 
          %td=project.vert 
          %td=project.rouge 
          %td=project.last_build.strftime("%H:%M:%S")
          %td
            %a{href: "/log/#{project.id}"}Log
